/* Estilos globais */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

/* Se você instalou o 'font-awesome' (passo anterior), use esta linha: */
@import "~font-awesome/css/font-awesome.min.css";

/* OU, se você conseguir instalar o @fortawesome/fortawesome-free, use esta: */
/* @import "~@fortawesome/fortawesome-free/css/all.min.css"; */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
